<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container">
    <%= link_to "Eventbrite-Like", root_path, class: "navbar-brand fw-bold" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link active" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%# VRAI LIEN RAILS ICI %>
            <%= link_to "Créer un événement", new_event_path, class: "nav-link text-warning" %>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.first_name || current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <%# VRAI LIEN RAILS ICI %>
              <li><%= link_to "Mon profil", user_path(current_user.id), class: "dropdown-item" %></li>
              <li><%= link_to "Éditer mon compte", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, form: { data: { turbo: false } }, class: "dropdown-item text-danger bg-transparent border-0 text-start w-100" %>
              </li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
            <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>